@import "../../styles";

.container {
  @include flex(row, stretch);
  height: calc(100vh - 6.4rem);
  overflow: hidden;
  & > .left {
    height: 100%;
    width: 40rem;
    overflow-y: auto;
    border-right: 1px solid $light-gray;
    @include desktop {
      width: 100%;
      @include position(fixed, 6.4rem, 0rem);
      background-color: $white;
      z-index: 99;
      height: calc(100% - 6.4rem);
      transition: transform 0.2s;
      &.close {
        transform: translateX(-100%);
      }
    }
    & > .top {
      padding: 2.4rem;
      & > input {
        background-color: $light;
        border: none;
        outline: none;
        width: 100%;
        padding: 1.2rem 2.4rem;
        @include radius(1000rem);

        &:focus,
        &:hover {
          background-color: $light-gray;
        }
      }
    }
    & > .bottom {
      & > div {
        @include flex(row, center, flex-start, 1rem);
        padding: 0.6rem 2.4rem;
        &:hover,
        &.selected {
          background-color: $light;
          cursor: pointer;
          user-select: none;
        }
        & > img {
          @include avatar(4.5rem);
        }
        & > .info {
          & > p {
            color: $dark;
            @include font(1.2rem, 500);
          }
          & > span {
            color: $dark;
            opacity: 0.7;
            @include font(1.1rem);
          }
        }
      }
      & > p {
        padding: 0rem 2.4rem;
        @include font(1.2rem, 500);
        @include text($danger, center);
      }
    }
  }

  & > .right {
    flex: 1;
    height: 100%;
    overflow: auto;

    @include desktop {
      height: 100vh;
      &.open {
        & > .header {
          display: flex;
        }
      }
    }

    & > .header {
      padding: 0.6rem 2.4rem;
      @include flex(row, center, flex-start, 1.6rem);
      background-color: $light;
      @include position(sticky, 0, 0);
      z-index: 100;
      display: none;

      & > button {
        cursor: pointer;
        @include center();
        background-color: transparent;
        border: none;
        outline: none;
        @include font(2rem);
        color: $dark;
      }
      & > .user {
        @include flex(row, center, flex-start, 1rem);
        user-select: none;
        & > img {
          @include avatar(4.5rem);
        }
        & > .info {
          & > p {
            color: $dark;
            @include font(1.2rem, 500);
          }
          & > span {
            color: $dark;
            opacity: 0.7;
            @include font(1.1rem);
          }
        }
      }
    }

    & > .input {
      @include position(fixed, unset, unset, unset, 1.5rem);
      z-index: 98;
      width: calc(100% - 40rem);

      @include desktop {
        width: 100%;
      }
      & > form {
        width: 70%;
        margin: 0 auto;
        position: relative;
        @include desktop {
          width: 90%;
        }

        & > input {
          width: 100%;
          @include border($light-gray);
          outline: none;
          padding: 1.2rem 6rem;
          background-color: transparent;
          @include radius(0.5rem);
          background-color: $white;

          &:focus {
            border-color: $dark;
          }

          &.none {
            display: none;
          }
        }

        & > button,
        & > label {
          @include position(absolute, 50%, unset, 2.4rem);
          transform: translateY(-50%);
          @include center();
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 2rem;
          color: $dark;
          &:hover {
            opacity: 0.8;
          }

          &.img {
            right: unset;
            left: 2.4rem;
          }
        }
      }
    }

    & > .messages {
      width: 70%;
      margin: 0 auto;
      min-height: 100%;
      padding: 2.4rem 2.4rem 2.4rem + 4.6rem + 1.5rem;
      @include flex(column, stretch, flex-end, 1.6rem);
      @include desktop {
        width: 90%;
      }
      & > .message {
        @include flex(row, center, flex-start);
        &.me {
          @include flex(row, center, flex-end);
          & > div {
            background-color: $success;
            color: $white;
          }
        }

        & > div {
          max-width: 60%;
          min-width: 4rem;
          background-color: $light;
          padding: 0.8rem 0.8rem 2.4rem;
          @include radius(0.5rem);
          position: relative;
          & > p > img {
            width: 100%;
            border-radius: 0.5rem;
          }
          & > span {
            opacity: 0.7;
            @include position(absolute, unset, unset, 0.8rem, 0.8rem);
          }
        }
      }
    }

    & > p {
      height: 100%;
      @include center();
      transform: translateY(-5rem);
      @include font(1.4rem, 500);
    }
  }
}

.bgWrapperCover {
  @include position(fixed, 0, 0, 0, 0);
  z-index: 103;
}

.modal {
  @include position(absolute, unset, 0, unset, 0);
  z-index: 104;
  width: 40rem;
  height: 25rem;
  background-color: $white;
  @include shadow($shadow-color);
  @include radius(1rem);
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: transform 0.1s;
  &.open {
    transform: scaleY(1);
  }
  & > .top {
    height: 20rem;
    width: 100%;
    padding: 1.2rem 2.4rem;
    border-bottom: 1px solid $light-gray;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include radius(1rem);
    }
  }
  & > .bottom {
    height: 5rem;
    width: 100%;
    padding: 0.6rem 2.4rem;
    @include flex(row, stretch);

    & > button {
      outline: none;
      border: none;
      padding: 0rem 1.2rem;
      @include font(2rem);
      @include center();
      cursor: pointer;
      @include radius(0.5rem);
      @include text($dark);

      &:first-child {
        background-color: $light-gray;
        color: $dark;
      }
      &:last-child {
        background-color: $success;
        color: $white;
      }
    }
  }
}
